<form [formGroup]="userService.loginFormModel" autocomplete="off" (submit)="onSubmit(userService.loginFormModel)">

  <!--EMAIL-->
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" formControlName="Email" />
    <label class="text-danger" *ngIf="userService.loginFormModel.get('Email').touched
           && userService.loginFormModel.get('Email').errors?.required">
      Email is required
    </label>
    <label class="text-danger" *ngIf="userService.loginFormModel.get('Email').touched
           && userService.loginFormModel.get('Email').errors?.email">
      Email isn`t valid
    </label>
  </div>

  <!--PASSWORD-->
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="Password" />
    <label class="text-danger" *ngIf="userService.loginFormModel.get('Password').touched
           && userService.loginFormModel.get('Password').errors?.required">
      Password is required
    </label>
    <label class="text-danger" *ngIf="userService.loginFormModel.get('Password').touched
           && userService.loginFormModel.get('Password').errors?.minlength">
      Password min length is 6
    </label>
  </div>

  <div class="form-row">
    <div class="form-group col-mb-8 offset-mb-2">
      <button type="submit" class="btn bt-lg btn-block" [disabled]="userService.loginFormModel.invalid">Login</button>
    </div>
  </div>

</form>
