<header class="header-login-signup">
  <div class="header-limiter">
    <h1><a href="/">Home</a></h1>
    <ng-template [ngIf]="nameOrEmail != null" [ngIfElse]="Login">
      <ul>
        <li>
          <div>
            <img src="./assets/profile_icon.png" height="30" />
            <a href="/profile">
              {{nameOrEmail}}
            </a>
          </div>
        </li>
        <li><a href="/" onclick="localStorage.removeItem('jwt_token'); localStorage.removeItem('user'); localStorage.removeItem('roles');">Logout</a></li>
      </ul>
    </ng-template>
  </div>
</header>

<ng-template #Login>
  <ul>
    <li>
      Guest
    </li>
    <li><a href="/user/login">Login</a></li>
  </ul>
</ng-template>
