<form [formGroup]="userService.registerFormModel" autocomplete="off" (submit)="onSubmit(userService.registerFormModel)">

  <div class="form-group required">
    <label>Email</label>
    <input class="form-control" formControlName="Email" />
    <label class="text-danger" *ngIf="userService.registerFormModel.get('Email').touched
           && userService.registerFormModel.get('Email').errors?.required">
      Email is required
    </label>
    <label class="text-danger" *ngIf="userService.registerFormModel.get('Email').touched
           && userService.registerFormModel.get('Email').errors?.email">
      Email isn`t valid
    </label>
  </div>
  <div class="form-group required">
    <label>Username</label>
    <input class="form-control" formControlName="UserName" />
    <label class="text-danger" *ngIf="userService.registerFormModel.get('UserName').touched
           && userService.registerFormModel.get('UserName').errors?.required">
      UserName is required
    </label>
  </div>
  <div class="form-group">
    <label>FirstName</label>
    <input class="form-control" formControlName="FirstName" />
  </div>
  <div class="form-group">
    <label>SecondName</label>
    <input class="form-control" formControlName="SecondName" />
  </div>
  <div class="form-group">
    <label>LastName</label>
    <input class="form-control" formControlName="LastName" />
  </div>
  <div formGroupName="Passwords">
    <div class="form-group required">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="Password" />
      <label class="text-danger" *ngIf="userService.registerFormModel.get('Passwords.Password').touched
           && userService.registerFormModel.get('Passwords.Password').errors?.required">
        Password is required
      </label>
      <label class="text-danger" *ngIf="userService.registerFormModel.get('Passwords.Password').touched
           && userService.registerFormModel.get('Passwords.Password').errors?.minlength">
        Password min length is 6
      </label>
    </div>
    <div class="form-group required">
      <label>Password confirmation</label>
      <input type="password" class="form-control" formControlName="ConfirmPassword" />
      <label class="text-danger" *ngIf="userService.registerFormModel.get('Passwords.ConfirmPassword').touched
           && userService.registerFormModel.get('Passwords.ConfirmPassword').errors?.required">
        Password confiramation is required
      </label>
      <label class="text-danger" *ngIf="userService.registerFormModel.get('Passwords.ConfirmPassword').touched
           && userService.registerFormModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">
        Confirmed password isn`t match
      </label>
    </div>
  </div>
  <div formGroupName="Roles">
    <div *ngFor="let r of roles">
      <label class="check-box-label">
        <input type="checkbox" [value]="r" (change)="onCheckboxChange($event)" />
        {{r}}
      </label>
    </div>
  </div>
  <label *ngIf="!isRolesValid" class="text-danger">User must have 1 or more roles</label>

  <div class="form-row">
    <div class="form-group col-mb-8 offset-mb-2">
      <button type="submit" class="btn bt-lg btn-block" [disabled]="userService.registerFormModel.invalid">Register</button>
    </div>
  </div>

</form>



