<form [formGroup]="userService.formModel" autocomplete="off" (submit)="onSubmit(userService.formModel)">

  <div class="form-group required">
    <label>Email</label>
    <input class="form-control" formControlName="Email" />
    <label class="text-danger" *ngIf="userService.formModel.get('Email').touched
           && userService.formModel.get('Email').errors?.required">
      Email is required
    </label>
    <label class="text-danger" *ngIf="userService.formModel.get('Email').touched
           && userService.formModel.get('Email').errors?.email">
      Email isn`t valid
    </label>
  </div>
  <div class="form-group required">
    <label>Username</label>
    <input class="form-control" formControlName="UserName" />
    <label class="text-danger" *ngIf="userService.formModel.get('UserName').touched
           && userService.formModel.get('UserName').errors?.required">
      UserName is required
    </label>
  </div>
  <div class="form-group">
    <label>FirstName</label>
    <input class="form-control" formControlName="FirstName" />
  </div>
  <div class="form-group">
    <label>SecondName</label>
    <input class="form-control" formControlName="SecondName" />
  </div>
  <div class="form-group">
    <label>LastName</label>
    <input class="form-control" formControlName="LastName" />
  </div>
  <div formGroupName="Passwords">
    <div class="form-group required">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="Password" />
      <label class="text-danger" *ngIf="userService.formModel.get('Passwords.Password').touched
           && userService.formModel.get('Passwords.Password').errors?.required">
        Password is required
      </label>
      <label class="text-danger" *ngIf="userService.formModel.get('Passwords.Password').touched
           && userService.formModel.get('Passwords.Password').errors?.minlength">
        Password min length is 6
      </label>
    </div>
    <div class="form-group required">
      <label>Password confirmation</label>
      <input type="password" class="form-control" formControlName="ConfirmPassword" />
      <label class="text-danger" *ngIf="userService.formModel.get('Passwords.ConfirmPassword').touched
           && userService.formModel.get('Passwords.ConfirmPassword').errors?.required">
        Password confiramation is required
      </label>
      <label class="text-danger" *ngIf="userService.formModel.get('Passwords.ConfirmPassword').touched
           && userService.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">
        Confirmed password isn`t match
      </label>
    </div>
  </div>
  <div *ngFor="let r of roles">
    <label class="check-box-label">
      <input type="checkbox" [value]="r" (change)="onCheckboxChange($event)" />
      {{r}}
    </label>
  </div>

  <div class="form-row">
    <div class="form-group col-mb-8 offset-mb-2">
      <button type="submit" class="btn bt-lg btn-block">Login</button>
    </div>
  </div>

</form>



